{% extends 'base.html' %}
{% load static %}

{% block title %}
About |
{% endblock title %}

{% block body %}
<div class="container mt_10">
    <div class="row">
        <div class="col-md-12">
          <figure> <img width="100%" src="{% static 'images/main_banner2.jpg' %}" alt="#"> </figure>
        </div>
        <div class="col-md-12">
          <div class="about-text">
            <div class="about-heading-wrap">
              <h2 class="about-heading mb_20 mt_40 ptb_10">Cools is the website which provides you a very unique and various types of quality sunglasses at the very low price.You can easily purchase a sunglasses with some easy steps.</h2>
              <a href='/shop/' type="button" class="btn mb_20">Shop now</a>
            </div>
            
          </div>
        </div>
      </div>
</div>

{% endblock body %}