{% extends 'base.html' %}
{% load static %}

{% block title %}
Checkout |
{% endblock title %}



{% block body %}

{% if cart_items %}
<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-12 mtb_30">
      <!-- =====  BANNER STRAT  ===== -->
      <div class="breadcrumb ptb_20">
        <h1>Shopping Cart</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active">Shopping Cart</li>
        </ul>
      </div>
      <!-- =====  BREADCRUMB END===== -->
      <div class="panel-group mt_20" id="accordion">
        <div class="panel panel-default  ">
          <div class="panel-heading">
            <h4 class="panel-title"> <a id='pannel1' data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne">Step 1:
                Select Address <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class='text text-center'>
                    <h1>Adresses</h1>
                  </div>


                  {% if address %}

                  {% for fm in address %}
                  <div class="text text-center">
                    <div class="panel panel-default mtb_10">
                      <div class="panel-heading">
                        <h4 class="panel-title">{{fm.first_name}} {{fm.last_name}}</h4>
                      </div>
                      <div class="panel-body">
                        <div class='row'>
                          <div clas="col-sm-6">
                            <form method="POST" id="orderform">
                              {% csrf_token %}
                              <div class="radio">
                                <label>
                                  <input type="radio" id="customer-id" value="{{fm.id}}" name="customer" required />
                                  {{fm.ccname}},{{fm.cc_add}},{{fm.add1}},{{fm.add2}},{{fm.city}}-{{fm.zip_code}},{{fm.state}},{{fm.country}}.</label>
                              </div>
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>
                  {% endfor %}

                  {% else %}
                  <div class="text text-center">
                    <div class="panel panel-default mtb_10">
                      <div class="panel-heading">
                        <h4 class="panel-title">Please Enter Adress</h4>
                      </div>
                      <div class="panel-body">
                        <form action="/address/" method="POST">
                          {% csrf_token %}
                          {% for fm in form1 %}
                          <div class="text-center">
                            <div class="form-group">
                              {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                          </div>
                          {% endfor %}
                          <div class="form-group">
                            <div class="row">
                              <div class="col-sm-12">
                                <button type="submit" class="form-control btn btn-block">Add Address</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>



                    </div>

                  </div>

                  {% endif %}


                  {% if address %}
                  <div class="text text-center">
                    <a class="btn mtb_10" href="/address/">Add New Adress</a>
                  </div>

                  {% endif %}

                  <div class="text text-center">
                    <a class="btn mtb_10" data-toggle="collapse" data-parent="#accordion"
                      href="#collapsesix">continue</a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default ">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Step 2:
                Confirm Order <i class="fa fa-caret-down"></i></a> </h4>
          </div>
          <div id="collapsesix" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">Image</td>
                      <td class="text-left">Product Name</td>
                      <td class="text-right">Unit Price</td>
                      <td class="text-right">Quantity</td>
                      <td class="text-right">Total</td>
                    </tr>
                  </thead>
                  <tbody>

                    {% for fm in cart_items %}
                    <tr>
                      <td class="text-center"><a href="{{fm.product.image.url}}"><img style="height: 75px;width: 75px;"
                            src="{{fm.product.image.url}}" alt="alt"></a>
                      </td>
                      <td class="text-left">{{fm.product}}</td>
                      <td class="text-right">₹{{fm.product.sell_price}}</td>
                      <td class="text-right">{{fm.quantity}}</td>
                      <td class="text-right">₹{{fm.product_total}}</td>
                    </tr>
                    {% endfor %}


                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                      <td class="text-right">{{sub}}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="4"><strong>Gst (10%):</strong></td>
                      <td class="text-right">{{gst}}</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
                      <td class="text-right">₹70</td>
                    </tr>
                    <tr>
                      <td class="text-right" colspan="4"><strong>Total:</strong></td>
                      <td class="text-right">{{grand}}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <div class="buttons">
                <div class="pull-right">
                  <a class="btn" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">continue</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default ">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">Step 3:
                Payment Method <i class="fa fa-caret-down"></i></a> </h4>
          </div>
          <div id="collapsefive" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="text text-center">
                <p>Please select the preferred payment method to use on this order.</p>


                <button name="cashon" id='cashon' class="btn mtb_20" type="submit">Cash On Delivery</button>
                <button type="submit" id='rzp-button1' class="btn mtb_20">pay now</button>
              </form>



              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="brand_carouse" class="ptb_30 text-center">
  <div class="type-01">
    <div class="heading-part mb_20 ">
      <h2 class="main_title">Brand Logo</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="brand owl-carousel ptb_20">

          {% for fm in all_scat %}
          <div class="item text-center"> <a href="{% url 'filter_scat' fm.id %}"><img src="{{fm.image.url}}"
                alt="Disney" class="img-responsive" /></a> </div>
          {% endfor %}



        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% else %}

<div id="brand_carouse" class="ptb_30 text-center">
  <div class="type-01">
    <div class="heading-part mb_20 ">
      <h2 class="main_title">Brand Logo</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="brand owl-carousel ptb_20">

          {% for fm in all_scat %}
          <div class="item text-center"> <a href="{% url 'filter_scat' fm.id %}"><img src="{{fm.image.url}}"
                alt="Disney" class="img-responsive" /></a> </div>
          {% endfor %}



        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}


{% endblock body %}


{% block js %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    document.getElementById('cashon').onclick=function(e){
      if ('input[name==customer]:checked' != true) {
      let pannel = document.getElementById('collapseOne');
      pannel.classList.add('in');
      }
    }
    
      document.getElementById('rzp-button1').onclick=(function(e){  
      if (document.getElementById('customer-id').checked != true) {
      let pannel = document.getElementById('collapseOne');
      pannel.classList.add('in');
      //Below code is way to show a error manually in using html validation without submitting a form
      // let radio_buttton = document.getElementById('customer-id');
      // radio_buttton.setAttribute('aria-invalid','true');
      // radio_buttton.reportValidity();
      }
      else{
        e.preventDefault();
        Request_create_order();
      }
       
      });
      
    
  function Request_create_order() {
    let xmlhttp;
    xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET', 'http://127.0.0.1:8000/createorderrazorpay/',true);
 
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.status == 200 && xmlhttp.readyState == 4) {
        let response_data = JSON.parse(xmlhttp.responseText);
        let amount = '{{grand}}' * 100;
        let options = {
          "key": "{{razorpay_key}}", 
          "amount": amount,
          "name":'COOLS',
          "description":"Lets be cool!!",
          "image":"{% static 'images/logo.png' %}",
          "currency": "INR",
          "order_id":response_data['id'],
          "handler": function (response) {
            document.getElementById('orderform').submit();
          },
          "prefill": {
            "name": "",
            "email": "",
            "contact": ""
          },
          "theme": {
            "color": "#f44336"
          }
        };
        let rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
          console.log('failed');
          location.href='http://127.0.0.1:8000/fail/';
        });
        rzp1.open();
      }
    }
    xmlhttp.send();
  }

</script>
{% endblock js %}